form{
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}

form button{
    background-color: blue;
    padding: 1px 10px;
    border: 2px solid black;
    margin-top: 5px;
    border-radius: 20px;
}

form input{
    margin-left: 2px;
    margin-right: 6px;
    padding: 2px 8px;
    margin-bottom: 10px;
}

form label{
    margin: 10px 10px;
}

form div{
    margin-top: 10px;
}

.sections{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 40px;
}

form h1{
    font-size: large;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 30px;
}

form h3{
    font-size: x-large;
    font-weight: 600;
    text-decoration:underline;
}

#submitButton{
    border-radius: 10px;
    border: 0px;
    padding: 2px 20px;
    background-color: rgb(78, 210, 243);
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 200px;
}


